<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>result</title>
  </head>
  <body>
    <h1>name: <%= data.name%></h1>
    <h1>locaiton: <%= data.location%></h1>
    <h1>favor Language: <%= data.favor%></h1>
    <h1>comment: <%= data.comment%></h1>
    <a href="/">go back</a>
  </body>
</html>
