<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>

      <ul>
        <li>id: <%= results.id%></li>
        <li>name: <%= results.name%></li>
        <li>number of legs: <%= results.leg%></li>
        <li>Habits: <%= results.habit%></li>



      </ul>
  </body>
</html>
