<div class="container">
  <div class="row py-4" style="background-color:white; border:2px solid black;">
    <div class="col-12">
      <form (submit)="onSubmit($event, form)" #form="ngForm">
        <div class="row">
          <div class="col-1">
            <label for="forNote">Note: </label>
          </div>
          <div class="col-9">
            <input style="width:814px; height: 100%; border:2px solid black;"
            type="text"
            placeholder="Enter Notes Here"
            name="note"
            required
            minlength="3"
            maxlength="100"
            [(ngModel)]="note.note"
            #note="ngModel"
            >
            <div>
              {{note.errors | json}}
            </div>
          </div>
          <div class="col-1 ml-3 mt-2">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary" >Add Notes</button>
          </div >
        </div>
      </form>
    </div>

  </div>


</div><!-- end of line -->
