<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/']">Home <span class="sr-only">(current)</span>|</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','seattle']" >Seattle WA |</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','sanjose']" >San Jose CA |</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','burbank']" >Burbank CA |</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','dallas']">Dallas TX |</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','washington']">Washington D.C |</a>
      <a class="nav-item nav-link active" [routerLink]="['cities','chicago']">Chicago</a>
    </div>
</nav>
