
  <div class="container">
    <div class="row smooth-scroll">
      <div class="col">
        <h3>Products List</h3>
      </div>
    </div>
    <div  class="row ">
      <div *ngFor ="let product of productsList; let idex =index " class=" ml-1 mb-1" style="border:1px solid black; " [ngClass]="{'resize': true}">
        <p>id: {{product.id }}</p>
        <img src="{{product.url}}" alt="bike" style="width:244px; height:130px;">
        <p>Title: {{product.title }}</p>
        <p>Price: ${{product.price }}</p>
        <button type="button" name="button" (click)="onEdit(product.id)" class="btn btn-warning mb-1">EDIT</button>
        <button type="button" name="button" (click)="onDele(product)" class="btn btn-danger ml-1 mb-1">Delete</button>
      </div>
    </div>
  </div> <!-- end of line -->

<!-- <app-product-creation></app-product-creation> -->
<!-- {{productsList | json}} -->
