<div class="container">
  <!-- <div *ngFor="let note of noteList| orderBy:'note.createdAt'" class="row my-3" style="background-color:white; border:2px solid black;">
    <div class="col-12 text-right" > -->


  <app-note-create (newNote)="onEventCreat($event)"></app-note-create>

  <div *ngFor="let note of noteList.reverse()" class="row my-3" style="background-color:white; border:2px solid black;">

    <div class="col-12 text-right" >
      <p>id: {{note._id}}</p> <p>Noted On: {{note.createdAt | date:'medium'}}</p>
    </div>
    <div class="col">
      <p>{{note.note}}</p>
    </div>
  </div>


</div><!-- end of line -->
