<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Quotes</title>
  </head>
  <body>
    <% for (var quote of quotes) {%>
      <h3>name: <%= quote.name %></h3>
      <h4>Qutation: <%= quote.quote %></h4>
    <% } %>
  </body>
</html>
