<div class="container">
  <div class="row">
    <div class="col">
      <h3>Home Page</h3>
      <p>Welcome to the Project Product Management. Here wer can manage a set of products. You are able to create new products, remove old products, and edit products.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="https://images.pexels.com/photos/926987/pexels-photo-926987.jpeg?auto=compress&cs=tinysrgb&h=350" alt="background" style="width:1074px; height:460px; margin-bottom:10px;">
    </div>
  </div>
</div>
