<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cats</title>
  </head>
  <body>
    <h1>this is a page for cats</h1>
    <a href="/cherry"><img src="cherry.jpg" alt="cherry" id="cherry"></a>
    <a href="/defunktocat"><img src="defunktocat.png" alt="defunktocat" id="defunktocat"></a>
    <a href="/cooler"><img src="cooler.png" alt="png" id="cooler"></a>
  </body>
</html>
