<div class="container" >
  <div class="panel panel-primary" >
    <div class="panel-heading" >Power</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
      <form (submit)="onSubmit()">
        <label for="user_lic">Power Level: </label><input id="powerLevel"
        type="number"
        min="1"
        max="100"
        name='inputPowerN'
        required
        minlength ='1'
        maxlength = '100'
        value="1"
        [(ngModel)]="pwl.inputPowerN"
        #inputPowerN = 'ngModel'
        />
        {{inputPowerN.errors | json}}
        <input type="submit" value="Calculate Powers">
      </form>

      <div class='row'>
        <div class="col-3" >
          <fieldset >
            <legend >Human</legend>
            <p>Power Level: <app-human [vHuman]="human"></app-human></p>
          </fieldset>
          <p *ngIf="human.inputPowerN >5">regular ppl</p>
        </div>
        <div class="col-3">
          <p>Power Level</p><app-saiyan [vSaiyan]="saiyan"></app-saiyan>
        </div>
        <div class="col-3">
          <p>Power Level</p><app-super-saiyan [vSuperSaiyan]="superSaiyan"></app-super-saiyan>
        </div>
        <div class="col-3">
          <p>Power Level</p><app-super-saiyan-two [vSuperSaiyanTwo]="superSaiyanTwo"></app-super-saiyan-two>
          <p *ngIf="superSaiyanTwo >9000">Over 9000!</p>

        </div>
        <div class="col-3">
          <p>Power Level</p><app-super-saiyan-three [vSuperSaiyanThree]="superSaiyanThree"></app-super-saiyan-three>
          <p *ngIf="superSaiyanThree >20000">Superiative!</p>
        </div>
        <div class="col-3">
          <p>Power Level</p><app-super-saiyan-four [vSuperSaiyanFour]="superSaiyanFour"></app-super-saiyan-four>
          <p *ngIf="superSaiyanFour==50000">The One!</p>
        </div>
      </div>
    </div>
  </div>
</div>
